.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary, #ffffff);
  padding-top: 65px;
}

.app-layout {
  display: flex;
  flex: 1;
  margin-left: 250px;
}
}

